.card {
  display: flex;
  border-radius: 0.9rem;
  overflow: hidden;

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    width: 30rem;
    height: 50rem;
    background: $color-primary-Bright-orange;

    &:nth-child(2) {
      background: $color-primary-Dark-cyan;
    }

    &:nth-child(3) {
      background: $color-primary-Very-dark-cyan;
    }
  }

  &__icon {
    margin-bottom: 2.5rem;
  }

  &__heading {
    color: $color-neutral-Very-light-gray;
    font-family: $font-display;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.7rem;
    text-align: left;
    line-height: 1.7;
    margin: 3rem 0 11rem 0;
    color: $color-neutral-Transparent-white-paragraphs;
  }

  &__btn {
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-primary-Bright-orange;
    background: $color-neutral-Very-light-gray;
    border-radius: 100px;
    padding: 1.2rem 2.5rem;

    &:hover {
      background: none;
      color: $color-neutral-Very-light-gray;
      border: 2px solid $color-neutral-Very-light-gray;
    }
  }

  &__btn--1 {
    color: $color-primary-Dark-cyan;
  }

  &__btn--2 {
    color: $color-primary-Very-dark-cyan;
  }
}
