.card {
  display: flex;
  border-radius: 0.9rem;
  overflow: hidden;

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    width: 30rem;
    height: 50rem;
    background: $color-primary-Bright-orange;

    &:nth-child(2) {
      background: $color-primary-Dark-cyan;
    }

    &:nth-child(3) {
      background: $color-primary-Very-dark-cyan;
    }
  }

  &__icon {
    margin-bottom: 2.5rem;
  }

  &__heading {
    color: $color-neutral-Very-light-gray;
    font-family: $font-display;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 7rem 0 3rem 0;
    color: $color-neutral-Transparent-white-paragraphs;
  }

  &__btn {
    font-size: 1.2rem;
    color: $color-primary-Bright-orange;
    text-decoration: none;
    background: $color-neutral-Very-light-gray;
    padding: 1rem 2rem;
    border-radius: 100px;
    margin-left: -10rem;
  }
}
